<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>found nothing</title>
    <style>
        h1, p, a {color: white; font-family: serif}
        body {background-color: black;}
        .wrapper {
            margin-left: 30%;
        }

        .extra-margin {
            margin-left: 20%;
            }

        .extra-margin2 {
            margin-left: 10%;
            }

        .extra-margin3 {
            margin-left: 340px;
            }




    </style>
</head>
<body>
<div class="wrapper">
    <h1 class="extra-margin"><big><big><big><big><big><big><big><big>404</big></big></big></big></big></big></big></big>
    </h1>
    <h1 class="extra-margin2">There is no info about your request</h1>
    <a href="/" class="extra-margin3">Try again</a>
</div>
</body>
</html>